language: python

python:
  - 3.6
  - 3.7

os:
  - linux
  
dist:
  - focal

compiler:
  - gcc-9

env:
  matrix:
    - MPI=none     EXTRAS=
    - MPI=mpich    EXTRAS=--extras=mpi
    - MPI=openmpi  EXTRAS=--extras=mpi


matrix:
  include:
    - name: "Python 3.6 on MacOSX (no MPI)"
      os: osx
      osx_image: xcode9.4
      language: shell
      env: MPI=none EXTRAS=
    - name: "Python 3.7 on MacOSX (no MPI)"
      os: osx
      osx_image: xcode10.2
      language: shell
      env: MPI=none EXTRAS=
    - name: "Python 3.6 on MacOSX (mpich)"
      os: osx
      osx_image: xcode9.4
      language: shell
      env: MPI=mpich EXTRAS=--extras=mpi
    - name: "Python 3.6 on MacOSX (openmpi)"
      os: osx
      osx_image: xcode9.4
      language: shell
      env: MPI=openmpi EXTRAS=--extras=mpi
    - name: "Python 3.7 on MacOSX (mpich)"
      os: osx
      osx_image: xcode10.2
      language: shell
      env: MPI=mpich EXTRAS=--extras=mpi
    - name: "Python 3.7 on MacOSX (openmpi)"
      os: osx
      osx_image: xcode10.2
      language: shell
      env: MPI=openmpi EXTRAS=--extras=mpi
    
cache:
  apt: true

addons:
  apt:
    update: true
  homebrew:
    update: true
    
before_install:
  - ./bin/install-mpi.sh $MPI
  - if [[ "$MPI" == "mpich"   ]]; then mpichversion; fi
  - if [[ "$MPI" == "openmpi" ]]; then ompi_info;    fi
  - pip3 install poetry
  - gcc --version

install:
  - poetry install --extras=docs $EXTRAS

script:
  - sh ./bin/run_tests.sh
  - |
    if [[ "$MPI" != "none"   ]]; then
        for proc in 1 2; do
            echo "Running MPI test ($MPI) with $proc processes"
            mpiexec -oversubscribe -n $proc poetry run python3 ./test/mpi/test_mpi.py
        done
    fi
