language: python

python:
  - 3.6
  - 3.8

os: linux
  
dist: focal

compiler: gcc-9

env:
  global:
    - OMPI_MCA_plm=isolated
    - OMPI_MCA_rmaps_base_oversubscribe=true
  matrix:
    - MPI=none     EXTRAS=
    - MPI=mpich    EXTRAS=--extras=mpi
    - MPI=openmpi  EXTRAS=--extras=mpi

matrix:
  include:
    - name: "Python 3 on MacOSX (no MPI)"
      os: osx
      osx_image: xcode12
      language: shell
      env: MPI=none EXTRAS=
    - name: "Python 3 on MacOSX (mpich)"
      os: osx
      osx_image: xcode12
      language: shell
      env: MPI=mpich EXTRAS=--extras=mpi
    - name: "Python 3 on MacOSX (openmpi)"
      os: osx
      osx_image: xcode12
      language: shell
      env: MPI=openmpi EXTRAS=--extras=mpi
  
before_cache:
  - rm -rf $HOME/.cache/pip/http

cache: pip

addons:
  apt:
    update: true
  homebrew:
    update: true
    
before_install:
  - ./bin/install-mpi.sh $MPI
  - if [[ "$MPI" == "mpich"   ]]; then mpichversion; fi
  - if [[ "$MPI" == "openmpi" ]]; then ompi_info;    fi
  - pip3 install poetry
  - poetry config virtualenvs.create false  # Disable virtual environments
  - poetry config --list
  - mkdir -p $HOME/.config/litebird_imo
  - echo -e "[[repositories]]\nlocation = \"$(pwd)/test/mock_imo/\"\nname = \"Mock IMO\"" | tee $HOME/.config/litebird_imo/imo.toml

install:
  - poetry install --extras=docs $EXTRAS

script:
  - sh ./bin/run_tests.sh
  - |
    if [[ "$MPI" != "none"   ]]; then
        if [[ "$MPI" == "openmpi" ]]; then
            procs="1 2"
        fi
        if [[ "$MPI" == "mpich" ]]; then
            procs="1 5 9"
        fi
        for proc in $procs; do
            echo "Running MPI test ($MPI) with $proc processes"
            mpiexec -n $proc poetry run python3 ./test/test_mpi.py
        done
    fi
