language: python

python:
  - 3.6
  - 3.7

os:
  - linux
  
dist:
  - focal

compiler:
  - gcc-9

env:
  global:
    - OMPI_MCA_plm=isolated
    - OMPI_MCA_rmaps_base_oversubscribe=true
  matrix:
    - MPI=none     EXTRAS=
    - MPI=mpich    EXTRAS=--extras=mpi
    - MPI=openmpi  EXTRAS=--extras=mpi


matrix:
  include:
    - name: "Python 3.7 on MacOSX (no MPI)"
      os: osx
      osx_image: xcode10.2
      language: shell
      env: MPI=none EXTRAS=
      cache:
        pip: true
        directories:
          - $HOME/Library/Caches/pypoetry
    - name: "Python 3.7 on MacOSX (mpich)"
      os: osx
      osx_image: xcode10.2
      language: shell
      env: MPI=mpich EXTRAS=--extras=mpi
      cache:
        pip: true
        directories:
          - $HOME/Library/Caches/pypoetry
    - name: "Python 3.7 on MacOSX (openmpi)"
      os: osx
      osx_image: xcode10.2
      language: shell
      env: MPI=openmpi EXTRAS=--extras=mpi
      cache:
        pip: true
        directories:
          - $HOME/Library/Caches/pypoetry
    
cache:
  apt: true
  pip: true
  directories:
    - $HOME/.cache/pypoetry

addons:
  apt:
    update: true
  homebrew:
    update: true
    
before_install:
  - ./bin/install-mpi.sh $MPI
  - if [[ "$MPI" == "mpich"   ]]; then mpichversion; fi
  - if [[ "$MPI" == "openmpi" ]]; then ompi_info;    fi
  - pip3 install poetry
  - gcc --version

install:
  - poetry install --extras=docs $EXTRAS

script:
  - sh ./bin/run_tests.sh
  - |
    if [[ "$MPI" != "none"   ]]; then
        if [[ "$MPI" == "openmpi" ]]; then
            procs="1 2"
        fi
        if [[ "$MPI" == "mpich" ]]; then
            procs="1 5 9"
        fi
        for proc in $procs; do
            echo "Running MPI test ($MPI) with $proc processes"
            mpiexec -n $proc poetry run python3 ./test/test_mpi.py
        done
    fi
