[tool.black]
line-length = 88
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.venv
  | _build
  | build
  | dist
  | docs
)/
'''

[tool.poetry]
name = "litebird_sim"
version = "0.4.0"
description = "Simulation tools for the LiteBIRD experiment"
authors = [
	"The LiteBIRD Simulation Team",
	"Ranajoy Banerji <ranajoy.cosmo@gmail.com>",
	"Mathew Galloway <mathew.galloway@astro.uio.no>",
	"Martina Gerbino <gerbinom@fe.infn.it>",
	"Serena Giardiello <serena.giardiello@unife.it>",
	"Nicoletta Krachmalnicoff <nkrach@sissa.it>",
	"Luca Pagano <luca.pagano@unife.it>",
	"Davide Poletti <davide.poletti@sissa.it>",
	"Martin Reinecke <martin@mpa-garching.mpg.de>",
	"Maurizio Tomasi <maurizio.tomasi@unimi.it>",
]
readme = "README.md"
license = "GPL3"
include = [
	"images/logo.png",
        "static/report_template.html",
        "static/sakura.css",
        "templates/*.md",
        "misc/pandoc-filter.lua",
]

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
numba = "^0.55"
numpy = "^1.21"
astropy = "^4.0"
flake8 = "^3.7"
black = {version = "^21.9b", allow-prereleases = true}
tomlkit = "^0.5.8"

mpi4py = {version = "^3.0", optional = true}

sphinx = "^4.2"
sphinx_rtd_theme = "^0.4.3"
sphinxcontrib-bibtex = "^2.4.0"
sphinxcontrib-contentui = "^0.2.5"

jupyter = {version = "^1.0", optional = true}
jupyterlab = {version = "^1.2", optional = true}
pytest = "^5.3"
jinja2 = "^3.0"
markdown = "^3.2"
matplotlib = "^3.1"
markdown-katex = {version = "^202006.1021"}
katex = "^0.0.4"
healpy = "^1.15.0"
pyyaml = "^5.3.1"
backports-datetime-fromisoformat = "^1.0.0"
pybind11 = "^2.5.0"
jplephem = "^2.14"
PyGithub = "^1.53"
requests = "^2.24.0"
rich = "^11.0.0"

ducc0 = "^0.20.0"
pysm3 = "^3.3.0"
"sphinxcontrib.asciinema" = "^0.2.1"
asciimatics = "^1.12.0"
pyperclip = "^1.8.1"
pre-commit = "^2.15.0"
h5py = "3.4"
toast-cmb = "^2.3.14"

[tool.poetry.extras]
mpi = ["mpi4py"]
jupyter = ["jupyter"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
